/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* .box{
    color:white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(C:\Users\meena\Desktop\Login\src\assets\bg.jpg);
} */
